<style>
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* GitHub */
.fa-github {
  background: none;
  color: #333;
}

/* Twitter */
.fa-twitter {
  background: none;
  color: #1DA1F2;
}
</style>

<footer class="site-footer">
  <div class="wrap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add font-awesome icons -->
    <div style="text-align:center">
        <a href="https://dylannikol.com/"> <img src="/d-r-n.github.io/assets/8bitproilepic.jpg" height="32px"></a><br>
        <a href="https://twitter.com/dylanrnikol"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://github.com/d-r-n"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>