---
layout: default
---

<style>
.post_pad {
  margin-left: 40px;
  margin-right: 600px;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
}

.myCoolDiv{
  margin-left: 40px;
  margin-right: 600px;
  width: 50%;
  height: 50%;
  min-width: 600px;
 }

</style>
<div class="post">
  <div class="myCoolDiv">
    <header class="post-header">
    <hr>
    <h2>{{ page.title }}</h1>
    <hr>

    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article class="post-content">
        {{ content }}
    </article>

    <!-- mathjax -->
    {% if page.mathjax %}
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
  </div>
</div>
